body{
	background: #263238;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}


footer{
	text-align: center;
}

footer div{
	color: #ECEFF1;
	margin: 5% 0 1% 0;
	font-size: 1.5em;
}

h1{
	color: #ECEFF1;
	text-align: center;
}

h2{
	color: #ECEFF1;
	text-align: center;

}

h2 > img{
	height: 2em;
	width: 2em;
}

h3{
	color: #ECEFF1; 
	text-align: center;
}


nav{
	padding: 5px;
	text-align: center;
}

nav>ul>li{
	background: #37474F;
	border:2px solid #90A4AE;
	border-radius: 5px;
	box-shadow:4px 4px 5px #B0BEC5 inset;
	display: inline-block;
	line-height: 50px;
	margin: 2px 0px;
	transition:all 0.2s;
	width: 10%;
}

nav>ul>li:hover{
	background: #CFD8DC;	
	box-shadow: 1px 1px 3px #ECEFF1;
	transform: scale(1.01,1.01);
}

nav>ul>li>a{
	color: #ECEFF1;
	font-size: 1em;
	text-decoration: none;
	width: 100%;
}

nav>ul>li:hover>a{
	color: #263238;
	font-weight: bold;
}


main{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

section > article:nth-child(odd){
	background-color: #CFD8DC;
	padding: 10px;
}

section > article:nth-child(even){
	background-color: #ECEFF1;
	padding: 10px;
}

section>article>h3{
	color:black;
}

section>article div{
	padding: 0.6rem;
	text-align: justify;
}

section>article>p{
	font-size: 0.96rem;
	font-weight: bold;
	text-align: justify;
}


span{
	color: #ECEFF1;
	font-family: Sosa;
	font-size: 2em;
}

ul{
	list-style: none;
	margin:0;
	padding: 0;
}


.social{
	color: white;
	display: inline-block;
	height: 30px;
	margin: 5px;
	transition:all 0.5s;
	width: 30px;
}

.social:hover{
	transform: scale(1.1);
}


@media only screen and (max-width:1550px){
	nav>ul>li{
		width: 45%;
	}
}

@media only screen and (max-width:800px){
	nav>ul>li{
		width: 90%;
	}
}

/**
ESTILOS PSEUDOCLASES Y PSEUDOS-ELEMENTOS: JOSÉ RAFAEL ÁLVAREZ ESPINO
*/
#ejemploLink,
#ejemploVisited {
    background-color: green;
}

#ejemploLink:link {
    background-color: yellow;
}

#ejemploVisited:visited {
    background-color: yellow;
}

#ejemploHover:hover {
    background-color: blueviolet;
}

#ejemploActive:active {
    background-color: gray;
    color: white;
}

#ejemploFocus:focus {
    background-color: blue;
}

#pruebaTarget p:target {
    background-color: gold;
}

#pruebaLang :lang(es)>q {
    quotes: '« '' »';
}

#pruebaEnabled input:enabled {
    color: green;
}

#pruebaDisabled input:disabled {
    color: red;
}

#pruebaChecked input:checked {
    box-shadow: 0 0 0 3px blue;
}

#pruebaIndeterminate input:indeterminate+label {
    background: yellow;
}

#pruebaIndeterminate input:checked+label {
    background: transparent;
}

#pruebaOdd span {
    color: black;
    font-size: 20px;
}

#pruebaOdd span, #pruebaEven span, #prueba3n span, #pruebanthlastchild4 span,#pruebanthlastoftype span, #pruebaOnlyChild span,#pruebaOnlyOfType span{
	color: black;
}

#pruebaOdd span:nth-child(odd) {
    background-color: blue;
}

#pruebaEven span:nth-child(even) {
    background-color: blue;
}

#prueba3n span:nth-last-child(3n) {
    background-color: blue;
}

#pruebanthlastchild4 span:nth-last-child(4) {
    background-color: blue;
}


#pruebanthoftype p:nth-of-type(2n+1) {
    color: red;
}

#pruebanthoftype p:nth-of-type(2n) {
    color: blue;
}


#pruebanthoftype p:nth-of-type(1) {
    font-weight: bold;
}

#pruebanthoftype div {
    padding: 0;
}

#pruebanthlastoftype span:nth-last-of-type(3) {
    background-color: lime;
}

#pruebaFirstChild ul li {
    color: blue;
}

#pruebaFirstChild ul{
    padding-left: 40px;
    list-style: circle;
}
  
#pruebaFirstChild ul li:first-child {
    color: red;
}

#pruebaLastChild ul li {
    color: blue;
}

#pruebaLastChild ul li:last-child {
    color: red;
    
    border: 1px solid green;
}

#pruebaFistOfType p:first-of-type{
    color:blue;
}

#pruebaLastOfType p:last-of-type{
    color:red;
}

#pruebaOnlyChild div :only-child{
    color: red;
}

#pruebaOnlyOfType div :only-of-type{
    color:red;
}

#pruebaEmpty div{
    background-color: blue;
    height: 50px;
    width: 150px;
    margin: 4px;
}

#pruebaEmpty div:empty{
    background-color: red;
}

#pruebaNot :not(div){
    color: red;
}

#pruebaNot :not(p){
    color: blue;
}
#pruebaNot :not(.classNot){
    text-decoration: underline;
}
#pruebaNot :not(.h1){
    border: 1px solid green;
}
#pruebaFirstLine p::first-line{
    color: red;
    text-transform: uppercase;
}
#pruebaFirstLetter p::first-letter{
    color: red;
    font-size: 30px;
}
#pruebaBefore p::before{
    content: "♫ ";
}
#pruebaAfter p::after{
    content: " ♫ ";
}

